Standardization of listed OAM counters

Scope of this request is to standardize the OAM counters/KPI below in TAPI 

Mnemonic	ITU-T Standard
CV-S / CVS	G.829
ES-S / ESS	G.826, G.829
SEFS-S / SEFSS	G.829
CV-L / CVL	G.829
ES-L / ESL	G.826, G.829
FECV-L / FECVL	G.829
FEES-L / FEESL	G.829
ES-RS	G.826, G.828
ES-MS	G.826, G.828
FEES-MS	G.828
ES-OTU	G.8201
IAES	G.8201
FEES-OTU	G.8201
BIAES-OTU	G.8201
ES-ODU	G.8201
FEES-ODU	G.8201
ES-TCM	G.8201
FEES-TCM	G.8201
IAES-TCM	G.8201
BIAES-TCM	G.8201
FECUBC	G.709
ETHPKTER	Y.1731 / RFC 2819
ETHOCTETS	Y.1731 / RFC 2819
ETHPKTS	Y.1731 / RFC 2819
ETHMCSTPKTS	RFC 2819 (RMON)
ETHBCSTPKTS	RFC 2819 (RMON)
ETHDROPEVTS	RFC 2819 (RMON)
ETHUNDRSIZEPKTS	RFC 2819 (RMON)
ETHFRGMTS	RFC 2819 (RMON)
ETHJABRS	RFC 2819 (RMON)
ETHOVRSIZEPKTS	RFC 2819 (RMON)
ETHPKTS64OCTETS	RFC 2819 (RMON)
ETHPKTS127OCTETS	RFC 2819 (RMON)
ETHPKTS255OCTETS	RFC 2819 (RMON)
ETHPKTS511OCTETS	RFC 2819 (RMON)
ETHPKTS1023OCTETS	RFC 2819 (RMON)
ETHPKTS1518OCTETS	RFC 2819 (RMON)
ETHCOLLISIONS	RFC 2819 (RMON)
ETHCRCAE	Y.1731
AlignmentErrors	RFC 2665 (EtherLike MIB)
FCSErrors	RFC 2665 (EtherLike MIB)
SingleCollisionFrames	RFC 2665 (EtherLike MIB)
MultipleCollisionFrames	RFC 2665 (EtherLike MIB)
SQETestErrors	RFC 2665 (EtherLike MIB)
DeferredTransmissions	RFC 2665 (EtherLike MIB)
LateCollisions	RFC 2665 (EtherLike MIB)
ExcessiveCollisions	RFC 2665 (EtherLike MIB)
InternalMacTransmitError	RFC 2665 (EtherLike MIB)
CarrierSenseErrors	RFC 2665 (EtherLike MIB)
FrameTooLongs	RFC 2665 (EtherLike MIB)
InternalMacReceiveErrors	RFC 2665 (EtherLike MIB)
SymbolErrors	RFC 2665 (EtherLike MIB)
IFINOCTETS	RFC 2863 (IF-MIB)
IFINUCASTPKTS	RFC 2863 (IF-MIB)
IFINDSCRD	RFC 2863 (IF-MIB)
IFINERR	RFC 2863 (IF-MIB)
IFINUNKNOWNPROTOS	RFC 2863 (IF-MIB)
IFINMULTICASTPKTS	RFC 2863 (IF-MIB)
IFINBRDCSTPKTS	RFC 2863 (IF-MIB)
IFOUTOCTETS	RFC 2863 (IF-MIB)
IFOUTUCASTPKTS	RFC 2863 (IF-MIB)
IFOUTDSCRD	RFC 2863 (IF-MIB)
IFOUTERR	RFC 2863 (IF-MIB)
IFOUTMULTICASTPKTS	RFC 2863 (IF-MIB)
IFOUTBRDCSTPKTS	RFC 2863 (IF-MIB)
mN_FLRCnt	Y.1731
aN_FLRCnt	Y.1731
xN_FLRCnt	Y.1731
mF_FLRCnt	Y.1731
aF_FLRCnt	Y.1731
xF_FLRCnt	Y.1731
N_HighLoss	Y.1731
F_HighLoss	Y.1731
N_Unavailable	Y.1731
F_Unavailable	Y.1731
mN_FDVCnt	Y.1731
aN_FDVCnt	Y.1731
xN_FDVCnt	Y.1731
mF_FDVCnt	Y.1731
aF_FDVCnt	Y.1731
xF_FDVCnt	Y.1731
mN_FDCnt	Y.1731
aN_FDCnt	Y.1731
xN_FDCnt	Y.1731
mF_FDCnt	Y.1731
aF_FDCnt	Y.1731
xF_FDCnt	Y.1731
PTERREF Min/Max/Average	G.8261, G.8275
PTMPDLY Min/Max/Average	G.8261, G.8275
PTOFF Min/Max/Average	G.8261, G.8275
PTOFFACUM Average/P2P/End	G.8261, G.8275
PTSMDLY Min/Max/Average	G.8261, G.8275
OPR-H / OPR-L / OPR-AVG	G.7710
OPT-H / OPT-L / OPT-AVG	G.7710
OSNRH / OSNRL / OSNRAVG	G.698.2


@kgkishore We have a limited standard set of pm parameters defined in common in the pm data type. This potentially covers some of your parameters. My concern with your list (and with our current alarm and PM list) is that there is a conflation of measurement, detection criteria and technology. I suspect I will have to ignore my concern as we have a jumble of generic SES (which assumes that the position of the SES in the model determines the specific measurement technique and layering) and partially conflated FEC_PRE_FEC_BER which mixes the position of the counter (PRE_FEC) with the measurement technique BER. 

Many of your listed measures, such as ES-OTU mix the layering with the measurement. We would need SES_OTU etc.

Our aim had been generalized modelled detectors, but we seem to have fallen short of that.

We should discuss this (and I suspect, as I noted above, that I will rapidly cave in and let us align with the general industry mess :) ).

@kgkishore to correct list so that ES-OTU etc. becomes ES (to align with current approach for SES). To look for other normalizable PMs and define normalization. Also to look at mechanism for NATIVE PM addition.