Name Space Clarifications in TAPI Yaml & Yang files

Issue: Need a clarity how to identify the Name Spaces that are defined in TAPI Yaml & Yang files of TAPI 2.5.1, mechanism is not clear, can this be detailed and clarified for TAPI Implementations and Clients clear in adaptation using TAPI

Discussed with Nigel, need to evaluate whether the TAPI Yang definitions related to name spaces are aligned with RFC details mentioned in the TAPI RIA.

Hi @kgkishore @nigel-r-davis 

RFC7951 section 4 (https://datatracker.ietf.org/doc/html/rfc7951#section-4) talks about namespace usage in JSON representation of YANG data.

Identities should be prefixed with the namespace. The examples in the RIA do not show this.

This might be worth adding to the document to avoid any misunderstandings. Emphasis could be placed on the requirement that top-level objects must be namespace-qualified.

Consider request to a "node" object: 
/restconf/data/tapi-common:context/tapi-topology:topology-context/topology={{topology-uuid}}/node={{node-uuid}}

As stated by Roshan 





Lhotka                       Standards Track                    [Page 5]
RFC 7951               JSON Encoding of YANG Data            August 2016



A namespace-qualified member name MUST be used for all members of a
   top-level JSON object and then also whenever the namespaces of the
   data node and its parent node are different.  In all other cases, the
   simple form of the member name MUST be used.

   For example, consider the following YANG module:

   module example-foomod {

     namespace "http://example.com/foomod";

     prefix "foomod";

     container top {
       leaf foo {
         type uint8;
       }
     }
   }


   If the data model consists only of this module, then the following is
   valid JSON-encoded configuration data:

   {
     "example-foomod:top": {
       "foo": 54
     }
   }

   Note that the member of the top-level object uses the namespace-
   qualified name but the "foo" leaf doesn't because it is defined in
   the same module as its parent container "top".


Hi @rcasellas @nigel-r-davis ,

it is still not clear for me. I will put a series of examples just to fully confirm what is the expected behavior from the T-API server.

Taking the example of tapi-connectivity or tapi-topology, if we look at the tree, the top level object is connectivity-context or topology-context. Meaning that if you query the context with a GET request (**GET xxxxx/tapi-common:context/tapi-connectivity:connectivity-context/** or **GET xxxxx/tapi-common:context/tapi-topology:topology-context/**), the answer should include the namespace as follows: tapi-connectivity:connectivity-context or tapi-topology:topology-context. 
Everything after these root objects that belong to the same module, do not need to have the namespace. But if there is an augmentation, for example, the cep-list inside the owned-node-edge-point, we need to put the namespace (tapi-connectivity:cep-list) since this object doesnt belong to the tapi-topology module.

Now the question is the following. If we query a specific topology or node or owned-node-edge-point or connectivity-service.... (i.e., **GET xxxxx/tapi-common:context/tapi-topology:topology-context/topology=yyyyy**), the response of the server needs to include the namespace for every object? Or since it belongs to the tapi-topology module, there is no need to include the namespace. For the case of topology and others, what would be the correct response?

tapi-topology:topology: {} or topology: {}
tapi-connectivity:connectivity-service: {} or connectivity-service: {}
tapi-topology:node: {} or node: {}
tapi-topology:owned-node-edge-point: {} or owned-node-edge-point: {}

Same question for all objects that you can query. My understanding is that only JSON objects that belong to different modules than the root object of the tree will require namespace. So my understanding is that for topology, connectivity-service, node, owned-node-edge-point... there is no need add the namespace prefix.

Again the example of the cep-list inside the owned-node-edge-point, when you query the cep-list the answer of the server MUST contain the namespace, since cep-list object belongs to the tapi-connectivity and not to the tapi-topology (**GET tapi-common:context/tapi-topology:topology-context/topology=xxxxx/node=yyyyy/owned-node-edge-point=zzzzz/tapi-connectivity:cep-list/**).

tapi-connectivity:cep-list: {}

But again, to me, this is not clear in the RFC or RIA.



> Taking the example of tapi-connectivity or tapi-topology, if we look at the tree, the top level object is connectivity-context or topology-context.

Careful. The top of the response object yes, the top of the tree is tapi-common:context (just to be clear)

 Meaning that if you query the context with a GET request (**GET xxxxx/tapi-common:context/tapi-connectivity:connectivity-context/** or **GET xxxxx/tapi-common:context/tapi-topology:topology-context/**), the answer should include the namespace as follows: tapi-connectivity:connectivity-context or tapi-topology:topology-context. Everything after these root objects that belong to the same module, do not need to have the namespace. But if there is an augmentation, for example, the cep-list inside the owned-node-edge-point, we need to put the namespace (tapi-connectivity:cep-list) since this object doesnt belong to the tapi-topology module.


This is correct


> 
> Now the question is the following. If we query a specific topology or node or owned-node-edge-point or connectivity-service.... (i.e., **GET xxxxx/tapi-common:context/tapi-topology:topology-context/topology=yyyyy**), the response of the server needs to include the namespace for every object?

No, as the RFC says, the top level object must be qualified and then when you change (e.g) augmentation

In short, your get is for a given data resource in a path. That data resource is the beginning of your response. You need to qualify that data resource with the namespace it belongs to.


> 
> tapi-topology:topology: {} or topology: {} tapi-connectivity:connectivity-service: {} or connectivity-service: {} tapi-topology:node: {} or node: {} tapi-topology:owned-node-edge-point: {} or owned-node-edge-point: {}

Same response, the top level object is always qualified.


> 
> Same question for all objects that you can query. My understanding is that only JSON objects that belong to different modules than the root object of the tree will require namespace. 

No, the RFC says all top object
"A namespace-qualified member name MUST be used for all members of a top-level JSON object and then also..."

In short imagine you have

Container mod0:A
      Leaf data
     Augmented by mod1:data
     Augmented by mod2:data

If you do a get /mod0:A/mod2:data

Your reply has to be
{
   "mod2:data"


If you do a get /mod0:A/data
Your reply has to be
{
   "mod0:data"

.
> 
> Again the example of the cep-list inside the owned-node-edge-point, when you query the cep-list the answer of the server MUST contain the namespace, since cep-list object belongs to the tapi-connectivity and not to the tapi-topology 

This is not correct, because the root is tapi-common, what makes topology special ?






> > Taking the example of tapi-connectivity or tapi-topology, if we look at the tree, the top level object is connectivity-context or topology-context.
> 
> Careful. The top of the response object yes, the top of the tree is tapi-common:context (just to be clear)
> 
Yes, this is clear, the root is tapi-common:context.
> Meaning that if you query the context with a GET request (**GET xxxxx/tapi-common:context/tapi-connectivity:connectivity-context/** or **GET xxxxx/tapi-common:context/tapi-topology:topology-context/**), the answer should include the namespace as follows: tapi-connectivity:connectivity-context or tapi-topology:topology-context. Everything after these root objects that belong to the same module, do not need to have the namespace. But if there is an augmentation, for example, the cep-list inside the owned-node-edge-point, we need to put the namespace (tapi-connectivity:cep-list) since this object doesnt belong to the tapi-topology module.
> 
> This is correct
> 
> > Now the question is the following. If we query a specific topology or node or owned-node-edge-point or connectivity-service.... (i.e., **GET xxxxx/tapi-common:context/tapi-topology:topology-context/topology=yyyyy**), the response of the server needs to include the namespace for every object?
> 
> No, as the RFC says, the top level object must be qualified and then when you change (e.g) augmentation
> 
> In short, your get is for a given data resource in a path. That data resource is the beginning of your response. You need to qualify that data resource with the namespace it belongs to.
> 
this means that everytime you query a data resource of a path, that resource becomes the top-level object (of the request) and therefore we need to add the namespace of the module it belongs to in the response?
> > tapi-topology:topology: {} or topology: {} tapi-connectivity:connectivity-service: {} or connectivity-service: {} tapi-topology:node: {} or node: {} tapi-topology:owned-node-edge-point: {} or owned-node-edge-point: {}
> 
> Same response, the top level object is always qualified.
> 
> > Same question for all objects that you can query. My understanding is that only JSON objects that belong to different modules than the root object of the tree will require namespace.
> 
> No, the RFC says all top object "A namespace-qualified member name MUST be used for all members of a top-level JSON object and then also..."
> 
> In short imagine you have
> 
> Container mod0:A Leaf data Augmented by mod1:data Augmented by mod2:data
> 
> If you do a get /mod0:A/mod2:data
> 
> Your reply has to be { "mod2:data"
> 
> If you do a get /mod0:A/data Your reply has to be { "mod0:data"
> 
> .
> 
> > Again the example of the cep-list inside the owned-node-edge-point, when you query the cep-list the answer of the server MUST contain the namespace, since cep-list object belongs to the tapi-connectivity and not to the tapi-topology
> 
> This is not correct, because the root is tapi-common, what makes topology special ?

Maybe I didnt explained myself correctly. tapi-commont is the root, when you query tapi-connectivity or tapi-topology, those are augmentations of tapi-common and therefore you have the namespace prefix. But then all data resources in tapi-connectivity (connectivity-services and connections), or tapi-topology (topology, node, link, onep...) belong to the already augmented context (connectivity or topology). So again the question is: when we query a data resource of a path, that resource becomes the top-level object (of the request) and therefore we need to add the namespace of the module it belongs to in the response?

Thanks again for the explanations


> again the question is: when we query a data resource of a path, that resource becomes the top-level object (of the request) and therefore we need to add the namespace of the module it belongs to in the response?


Yes, exactly (well, to be correct, when you query a data resource of a given path, that resource becomes a *member* of the top level object *of the response*). The object is the entity defined by {}

This is what the RFC states:

A namespace-qualified *member* name MUST be used for all members of a
   top-level JSON object and then also whenever the namespaces of the
   data node and its parent node are different.  In all other cases, the
   simple form of the member name MUST be used.

And then provides an example.


A GET for /A:a/B:b/C:c1/c2/D:d is replied with
{
   "D:d" : "..."

Note that the case where A=B=C=D you can simplify the GET path but the reply must contain the namespace

Note that "D:d" is a *member* of a top level object. 

The same way that if you have

{
   "database:person" : {
           "age" : 30
     }
}
 age is a member of person and database: person is a member of the top level object


I think this is where your confusion comes 

>But then all data resources in tapi-connectivity (connectivity-services and connections), or tapi-topology (topology, node, link, onep...) belong to the already augmented context (connectivity or topology). 


The problem is that neither topology or connectivity appear in the response, you directly add the *node* member

R



Hi @rcasellas ,

I would like to return to this point, as I still have an open question.
If the request sent to the T-API server already specifies the namespace of the object being queried, what is the added value or requirement for including the prefix again in the response payload? Taking the example again in the tapi-topology, when querying the topology, node, link... any object different from the topology-context.

Perhaps this is something that could be further discussed in the weekly calls to assess whether the standard could introduce some flexibility with respect to the current RFC requirements.

Javier

Hi

It is true that in some cases I don't have a better answer other than "because the RFC says so" and I understand that in some specific uses there is no ambiguity and could have been otherwise, at least syntax wise.

That said I am *not* in favor of the so called "flexibility" here. I am much more in favor of RFC conformance when the RFC is (at least in my opinion) que quite clear and being flexible would mean more interoperability issues and e.g. the need to expect , while parsing, node or tapi-topology:node 

Regards
R

Hi @rcasellas @javoerrea,

As we have seen, the RFC can be interpreted in different ways, leading to differences in implementation. To avoid these ambiguities, I believe that a small example in future versions of the RFC would help bridge these gaps.

> Hi [@rcasellas](https://github.com/rcasellas) [@javoerrea](https://github.com/javoerrea),
> 
> As we have seen, the RFC can be interpreted in different ways, leading to differences in implementation. To avoid these ambiguities, I believe that a small example in future versions of the RFC would help bridge these gaps.

Hi

While I don't object to adding clarifications to the RIA, I have just one comment. I am afraid I don't agree with the fact that RFC can be interpreted in different ways. Can you elaborate? IMHO the RFC is very clear about the "must qualify the top level object" and what I have tried to do is to elaborate on it. Comments?

Thanks
Ramon